/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #48a6a7;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  
  .sidebar-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin: 15px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-menu li:hover {
    background-color: #2c5282;
  }
  